        <!-- Slider Start -->
        <div class="slider-area">
            <div class="hero-slider-wrapper">
                <!-- Single Slider  -->
                <div class="single-slide slider-height-1 bg-img d-flex" data-bg-image="assets/assetsshadi/images/slider-image/sample-2.jpg">
                    <div class="container align-self-center">
                        <div class="slider-content-1 slider-animated-1 text-left">
                            <span class="title theme-color">Productos al mayor.</span>
                            <h1 class="animated color-white">Electrodomesticos y màs <br> 15% descuesto</h1>
                            
                            <a href="shop-4-column.html" class="shop-btn animated">Hacer pedido</a>
                        </div>
                    </div>
                </div>
                <!-- Single Slider  -->
                <div class="single-slide slider-height-1 bg-img d-flex" data-bg-image="assets/assetsshadi/images/slider-image/sample-3.jpg">
                    <div class="container align-self-center">
                        <div class="slider-content-1 slider-animated-2 text-left">
                            <span class="title color-white">Lo mejor en</span>
                            <h1 class="animated color-white">Electrodomesticos <br> para su hogar </h1>
                            <p class="animated color-white">Encuentra todo lo que necesitas</p>
                            <a href="shop-4-column.html" class="shop-btn animated">Ver tienda</a>
                        </div>
                    </div>
                </div>
                <!-- Single Slider  -->
                
                <!-- Single Slider  -->
            </div>
        </div>
        <!-- Slider End -->