   <section class="about-area mb-60px">
        <div class="container">
            <div class="container-inner" style="padding-top:40px;">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-left-image mb-md-30px mb-lm-30px ">
                            <img src="assets/assetsshadi/images/slider-image/sample-6.jpg" alt="" class="img-responsive" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content">
                            <div class="about-title">
                                <h2>Techos y Tabiques Mérida</h2> 
                            </div>
                            <p class="mb-30px">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore aperiam fugit consequuntur voluptatibus ex sint iure in, distinctio sed dolorem aspernatur veritatis repellendus dolorum voluptate, animi
                                libero officiis eveniet accusamus recusandae. Temporibus amet ducimus sapiente voluptatibus autem dolorem magnam quas, porro suscipit. Quibusdam culpa asperiores exercitationem architecto quo distinctio sed dolorem!
                            </p>
                            <p>
                                Sint voluptatum beatae necessitatibus quos mollitia vero, optio asperiores aut tempora iusto eum rerum, possimus, minus quidem ut saepe laboriosam. Praesentium aperiam accusantium minus repellendus
                                 laudantium provident quod recusandae exercitationem natus dignissimos.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mt-50px">
                    <div class="col-md-6 mb-lm-30px">
                        <div class="single-about">
                            <h4>Nuestra compañia</h4>
                            <p>
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet conse .
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-lm-30px">
                        <div class="single-about">
                            <h4>Nuestro equipo</h4>
                            <p>
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet conse .
                            </p>
                        </div>
                    </div>
                    <!-- <div class="col-md-4">
                        <div class="single-about">
                            <h4>Testimonial</h4>
                            <p>
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet conse .
                            </p>
                        </div>
                    </div> -->
                </div>
                
            </div>
                <!-- <div class="main-blog-area mb-60px" style="padding-top:25px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title">
                                    <h2><span>Tenemos estos </span>Servicios y más</h2>
                                </div>
                            </div>
                        </div>
                        
                        <div class="main-blog-slider-wrapper slider-nav-style-1">
                            
                            <div class="blog-slider-item">
                                <div class="blog-slider-inner">
                                    <div class="aritcles-image">
                                        <a href="#"><img src="assets/assetsshadi/images/blog-image/1.jpg" alt="blog-img"></a>
                                        <p class="date-time-post">
                                            <span>
                                            <span class="date-post">06</span>
                                            <span class="month-post">Sep</span>
                                            <span class="year-post">2020</span>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="aritcles-content">
                                    <div class="content-inner">
                                        <a class="articles-name" href="blog-single-left-sidebar.html">Buy Used Engines and Used Transmissions</a>
                                        <p class="author-name">By <a href="https://hasthemes.com/">Hasthemes</a></p>
                                        <div class="articles-intro"><p>It's no secret, engines and transmissions can be very expensive...</p></div>
                                        <a class="read-more" href="blog-single-left-sidebar.html">Read more</a>
                                    </div>
                                </div>
                                </div>
                            </div>
                           
                            <div class="blog-slider-item">
                                <div class="blog-slider-inner">
                                    <div class="aritcles-image">
                                        <a href="#"><img src="assets/assetsshadi/images/blog-image/2.jpg" alt="blog-img"></a>
                                        <p class="date-time-post">
                                            <span>
                                            <span class="date-post">30</span>
                                            <span class="month-post">Oct</span>
                                            <span class="year-post">2020</span>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="aritcles-content">
                                    <div class="content-inner">
                                        <a class="articles-name" href="blog-single-left-sidebar.html">Get Your Car or Truck Ready for the Summer Heat!</a>
                                        <p class="author-name">By <a href="https://hasthemes.com/">Hasthemes</a></p>
                                        <div class="articles-intro"><p>Summer is beautiful in Colorado but we can get some very, very, hot daytime temps...</p></div>
                                        <a class="read-more" href="blog-single-left-sidebar.html">Read more</a>
                                    </div>
                                </div>
                                </div>
                            </div>
                            
                            <div class="blog-slider-item">
                                <div class="blog-slider-inner">
                                    <div class="aritcles-image">
                                        <a href="#"><img src="assets/assetsshadi/images/blog-image/3.jpg" alt="blog-img"></a>
                                        <p class="date-time-post">
                                            <span>
                                            <span class="date-post">08</span>
                                            <span class="month-post">Nov</span>
                                            <span class="year-post">2020</span>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="aritcles-content">
                                    <div class="content-inner">
                                        <a class="articles-name" href="blog-single-left-sidebar.html">Minor Wreck? We Got The Auto Parts!</a>
                                        <p class="author-name">By <a href="https://hasthemes.com/">Hasthemes</a></p>
                                        <div class="articles-intro"><p>It’s winter in Colorado and we’ve had a number of snowy days and hairy commutes...</p></div>
                                        <a class="read-more" href="blog-single-left-sidebar.html">Read more</a>
                                    </div>
                                </div>
                                </div>
                            </div>
                            
                            <div class="blog-slider-item">
                                <div class="blog-slider-inner">
                                    <div class="aritcles-image">
                                        <a href="#"><img src="assets/assetsshadi/images/blog-image/4.jpg" alt="blog-img"></a>
                                        <p class="date-time-post">
                                            <span>
                                            <span class="date-post">30</span>
                                            <span class="month-post">Oct</span>
                                            <span class="year-post">2020</span>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="aritcles-content">
                                    <div class="content-inner">
                                        <a class="articles-name" href="blog-single-left-sidebar.html">Purchasing New Auto Parts in our Online Store</a>
                                        <p class="author-name">By <a href="https://hasthemes.com/">Hasthemes</a></p>
                                        <div class="articles-intro"><p>Central Auto Parts has been a quality provider of used automotive parts in the Denver...</p></div>
                                        <a class="read-more" href="blog-single-left-sidebar.html">Read more</a>
                                    </div>
                                </div>
                                </div>
                            </div>
                            
                            <div class="blog-slider-item">
                                <div class="blog-slider-inner">
                                    <div class="aritcles-image">
                                        <a href="#"><img src="assets/assetsshadi/images/blog-image/5.jpg" alt="blog-img"></a>
                                        <p class="date-time-post">
                                            <span>
                                            <span class="date-post">30</span>
                                            <span class="month-post">Oct</span>
                                            <span class="year-post">2020</span>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="aritcles-content">
                                    <div class="content-inner">
                                        <a class="articles-name" href="blog-single-left-sidebar.html">The Life Cycle of Used Auto Parts and Wrecked Vehicles</a>
                                        <p class="author-name">By <a href="https://hasthemes.com/">Hasthemes</a></p>
                                        <div class="articles-intro"><p>I am often asked questions about my business when people find out what I do for a living.</p></div>
                                        <a class="read-more" href="blog-single-left-sidebar.html">Read more</a>
                                    </div>
                                </div>
                                </div>
                            </div>
                           
                        </div>
                        
                    </div>
                </div> -->

               <!--  <div class="newsletter-area mb-60px">
                    <div class="container">
                        
                        <div class="row">
                            
                            
                            <div class="col-md-12 col-lg-12 col-xs-12">
                                
                               
                                    
                                <div class="testimonial-area slider-dot-style-1">
                                    <div class="testimonial-slider-wrapper">
                                    
                                        
                                        <div class="testimonial-slider-item">
                                            <div class="testimonial-image">
                                                <img src="assets/assetsshadi/images/testimonial-image/1.png" alt="man-image">
                                            </div>
                                            <div class="testimonial-content">
                                                <a href="index-4.html#"> This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit.Lorem ipsum dolor sit amet, consectetur adipiscing elit...</a>
                                            </div>
                                            <div class="testimonial-author">
                                                <h4>Rebecka Filson</h4>
                                            </div>
                                        </div>
                                       
                                        <div class="testimonial-slider-item">
                                            <div class="testimonial-image">
                                                <img src="assets/assetsshadi/images/testimonial-image/2.png" alt="man-image">
                                            </div>
                                            <div class="testimonial-content">
                                                <a href="index-4.html#"> Mauris blandit, metus a venenatis lacinia, felis enim tincidunt est, condimentum vulputate orci augue eu metus. Fusce dictum, nis..</a>
                                            </div>
                                            <div class="testimonial-author">
                                                <h4>Nathanael Jaworski</h4>
                                            </div>
                                        </div>
                                        
                                        <div class="testimonial-slider-item">
                                            <div class="testimonial-image">
                                                <img src="assets/assetsshadi/images/testimonial-image/3.png" alt="man-image">
                                            </div>
                                            <div class="testimonial-content">
                                                <a href="index-4.html#"> Sed vel urna at dui iaculis gravida. Maecenas pretium, velit vitae placerat faucibus, velit quam facilisis elit, sit amet lacinia..</a>
                                            </div>
                                            <div class="testimonial-author">
                                                <h4>Magdalena Valencia</h4>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div> -->

        </div>
    </section>