
 <header class="header-wrapper">
            <!-- Header Nav Start -->
            <div class="header-nav bg-black d-none d-md-block">
                <div class="container">
                    <div class="header-nav-wrapper d-md-flex d-sm-flex d-xl-flex d-lg-flex justify-content-between">
                        <div class="header-static-nav d-flex">
                            <p>Bienvenidos !</p>
                            <div class="social-top">
                                 <div class="follow d-flex">
                                    <label>Siguenos:</label>
                                    <ul class="link-follow">
                                        <!-- <li><a class="facebook ion-social-facebook" title="Facebook" routerlink=""></a></li>
                                        <li><a class="twitter ion-social-twitter" title="Twitter" routerlink=""></a></li> -->
                                        <li><a class="google ion-social-instagram-outline" title="Isntagram" href="https://www.instagram.com/techosytabiquesmerida/" target="_blank"></a></li>
                                    </ul>
                                </div>       
                            </div>
                        </div>
                        <div class="header-menu-nav">
                            <ul class="menu-nav">
                                <!-- <li>
                                    <div class="dropdown">
                                        <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-myaccount ion-android-person"></i> <span>Mi cuenta</span> <i class="ion-ios-arrow-down"></i></button>

                                        <ul class="dropdown-menu animation slideDownIn" aria-labelledby="dropdownMenuButton">
                                            <li><a href="login.html">Crear cuenta</a></li>
                                            <li><a href="login.html">Iniciar session</a></li>
                                        </ul>
                                    </div>
                                </li> -->
                     
                                <li>
                                    <div class="dropdown">
                                        <button type="button" id="dropdownMenuButton-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">$  <span>Dolar</span>   <img src="assets/assetsshadi/images/flag/4.png" alt="" /><i class="ion-ios-arrow-down"></i></button>
                                        <ul class="dropdown-menu animation slideDownIn" aria-labelledby="dropdownMenuButton-2">
                                           
                                            <li><a routerlink="">BsS. Bolivar S. <img src="assets/assetsshadi/images/flag/3.png" alt="" /> </a></li>
                                           
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Header Nav Start -->

            <div class="header-nav header-nav-mobile bg-black d-md-none">
                <div class="container">
                    <div class="header-nav-wrapper ">
                       <!--  <div class="header-static-nav f-none text-center">
                            <p>Bienvenidos !</p>
                        </div> -->
                        <div class="header-menu-nav d-flex justify-content-between">
                            <div class="social-top align-self-center">
                                 <div class="follow d-flex">
                                    <label> Siguenos:</label>
                                    <ul class="link-follow">
                                        
                                        <li><a class="twitter ion-social-instagram" title="Instagram" href="https://www.instagram.com/techosytabiquesmerida/" target="_blank"></a></li>
                                        
                                    </ul>
                                </div>       
                            </div>
                            <div class="mobile-menu-nav">
                                <ul class="menu-nav">
                                    <!-- <li>
                                        <div class="dropdown">
                                            <button type="button" id="dropdownMenuButton-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-myaccount ion-android-person"></i> <span>Mi cuenta</span> <i class="ion-ios-arrow-down"></i></button>

                                            <ul class="dropdown-menu animation slideDownIn" aria-labelledby="dropdownMenuButton-1">
                                                <li><a href="login.html">Crear cuenta</a></li>
                                                <li><a href="login.html">Iniciar session</a></li>
                                            </ul>
                                        </div>
                                    </li> -->
                                                                  <li>
                                        <div class="dropdown">
                                            <button type="button" id="dropdownMenuButton-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">$USD <img src="assets/assetsshadi/images/flag/4.png" alt="" /> <span>EE.UU. </span>  <i class="ion-ios-arrow-down"></i></button>
                                            <ul class="dropdown-menu animation slideDownIn" aria-labelledby="dropdownMenuButton-5">
                                                
                                                <li><a routerlink="">VES Bolivar Digital  <img src="assets/assetsshadi/images/flag/3.png" alt="" /> </a></li>
                                               
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Header Nav End -->
            <!-- Header Nav End -->
            
            <div class="header-top bg-white ptb-30px d-lg-block d-none">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 d-flex" align="center">
                            <div class="logo align-self-center">
                                <a  routerLink=""><img class="img-responsive" src="assets/assetsshadi/images/logo/logo.png" alt="logo.png" /></a>
                                <strong>Techos y tabiques Mérida</strong>
                            </div>
                        </div>
                        <div class="col-md-9 align-self-center">
                            <div class="header-right-element d-flex justify-content-between">
                                <div class="search-element media-body mr-20px">
                                    <form class="d-flex" action="index.html#">
                                        <input type="text" placeholder="Buscar  ..." />
                                        <button><i class="icon-search"></i></button>
                                    </form>
                                </div>
                                <!--Cart info Start -->
                                <!-- <div class="header-tools2 ">
                                    <div class="cart-info2 d-flex align-self-center">
                                        <a title="wishlist" routerlink="shadishop" ><i class="icon-grid" style="background: #fff;"> </i><span>Tienda</span></a>
                                    </div>
                                    
                                </div> -->

                                <div class="header-tools d-flex">
                                 
                                    <div class="cart-info d-flex align-self-center">
                                   
                                        <a title="cart" href="#offcanvas-cart" class="bag offcanvas-toggle" data-number="3"><i class="icon-shopping-cart"></i><span>$30.00</span></a>
                                    </div>
                                </div>
                            </div>
                            <!--Cart info End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Nav End -->
            <div class="header-menu bg-black sticky-nav d-lg-block d-none padding-0px">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="header-menu-vertical">
                                <h4 class="menu-title">Categorias </h4> 
                                <ul class="menu-content display-none"> 
                                      <li class="menu-item"  *ngFor="let category of categories" style="cursor: pointer;">
                                            <a routerlink="" >{{category.name }} 
                                                <i class="ion-ios-arrow-right" [hidden]="category.subs[0]==undefined"></i></a>
                                            <ul class="sub-menu sub-menu-2" *ngIf="category.subs[0]!=undefined">
                                                <li>
                                                    <ul class="submenu-item">
                                                        <li *ngFor="let item of category.subs" style="cursor: pointer;"><a routerlink="">{{item.name}}</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                      </li>  
                                </ul>
                                <!-- menu content -->
                            </div>
                            <!-- header menu vertical -->
                        </div>
                        <div class="col-lg-9">
                            <div class="header-horizontal-menu">
                                <ul class="menu-content">
                                 
                                    <li class="menu-dropdown">
                                        <a routerLink="shadishop">Tienda </a>
                                     
                                    </li>
                                
                                    <li><a routerLink="shadicontact">contactanos</a></li>

                                </ul>
                            </div>
                            <div class="contact-link">
                            <a href="https://wa.me/584248796193?text=Hola,%20deseo%20comprar%20un%20producto" class="whatsapp" target="_blank" title="Contáctanos por whatsapp !">(58)0424 8796193</a>
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
            <!-- header menu -->
    </header>
        <!-- Header Section End Here -->    

        <!-- Mobile Header Section Start -->
    <div class="mobile-header d-lg-none sticky-nav white-bg ptb-20px">
        <div class="container">
            <div class="row align-items-center">

                <!-- Header Logo Start -->
                <div class="col d-flex">
                    <div class="mobile-menu-toggle home-2">
                        <a href="#offcanvas-mobile-menu" class="offcanvas-toggle">
                            <svg viewBox="0 0 800 600">
                                <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
                                <path d="M300,320 L540,320" id="middle"></path>
                                <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                            </svg>
                        </a>
                     </div>
                    <div class="header-logo mt-7px" align="center">
                        <a routerLink=""><img class="img-responsive" src="assets/assetsshadi/images/logo/logoMobile.png" alt="logo.png" /></a>
                       
                    </div>
                </div>
                <!-- Header Logo End -->

                <!-- Header Tools Start -->
                <div class="col-auto">
                    <div class="header-tools justify-content-end">
                        <div class="cart-info d-flex align-self-center">
                           <!--  <a title="wishlist" href="index.html#offcanvas-wishlist" class="heart offcanvas-toggle" data-number="3"><i class="icon-heart"></i></a> -->
                            <a title="cart" href="#offcanvas-cart" class="bag offcanvas-toggle" data-number="3"><i class="icon-shopping-cart"></i><span>$30.00</span></a>
                        </div>
                    </div>
                </div>
                <!-- Header Tools End -->

            </div>
        </div>
    </div>

    <div class="mobile-category-nav d-lg-none ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <!--=======  category menu  =======-->
                    <div class="hero-side-category">
                        <!-- Category Toggle Wrap -->
                        <div class="category-toggle-wrap">
                            <!-- Category Toggle -->
                            <button class="category-toggle"><i class="fa fa-bars"></i> Categorias</button>
                        </div>

                        <!-- Category Menu -->
                        <nav class="category-menu">
                            <ul>
                                <li class="menu-item-has-children menu-item-has-children-1" *ngFor="let category of categories" style="cursor: pointer;">
                                    <a routerlink="">{{category.name }} <i class="ion-ios-arrow-down" [hidden]="category.subs[0]==undefined"></i></a>
                                    <!-- category submenu -->
                                    <ul class="category-mega-menu category-mega-menu-1" *ngIf="category.subs[0]!=undefined">
                                        <li *ngFor="let item of category.subs" style="cursor: pointer;"><a routerlink="">{{item.name}}</a></li>
                                        
                                    </ul>
                                </li>
                                
                            </ul>
                        </nav>
                    </div>

                    <!--=======  End of category menu =======-->
                </div>
            </div>
        </div>
    </div>
    <div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
        <div class="inner customScroll">
            <div class="head">
                <span class="title">&nbsp;</span>
                <button class="offcanvas-close">×</button>
            </div>
          <!--   <div class="offcanvas-menu-search-form">
                <form action="index.html#">
                    <input type="text" placeholder="Buscar...">
                    <button><i class="lnr lnr-magnifier"></i></button>
                </form>
            </div> -->
            <div class="offcanvas-menu">
                <ul>
                  
                    <li><a routerLink="shadishop"><span class="menu-text">Tienda</span></a>
                    
                    <li><a routerLink="shadicontact">Contacto</a></li>
                </ul>
            </div>
                         <!-- OffCanvas Menu End -->
         
        </div>
    </div>
    <!-- OffCanvas Search End -->
    <div class="contact-link d-lg-none">
    <a href="https://wa.me/584122472270?text=Hola,%20deseo%20comprar%20un%20producto" class="whatsapp" target="_blank" title="Contáctanos por whatsapp!">(58) 412-2472270</a>
     
    </div>
  
    <div class="offcanvas-overlay"></div>
<app-shadicart></app-shadicart>
<app-modal></app-modal>