        <!-- Banner Area Start -->
       <!--  <div class="banner-area mtb-60px">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-lm-30px">
                        <div class="banner-wrapper">
                            <a href="#"><img src="assets/assetsshadi/images/banner-image/1.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="banner-wrapper">
                            <a href="#"><img src="assets/assetsshadi/images/banner-image/2.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Banner Area End -->

        <div class="banner-area banner-style-3 mtb-60px">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-lm-30px">
                        <div class="banner-wrapper">
                            <a href="#"><img src="assets/assetsshadi/images/banner-image/15.jpg" alt="" /></a>
                            <div class="text text-2">
                              <h3>Headlights<span>Parts</span></h3>
                                <p>25% Off</p>
                              <a href="#">Shop Now</a>
                             </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-lm-30px">
                        <div class="banner-wrapper">
                            <a href="#"><img src="assets/assetsshadi/images/banner-image/16.jpg" alt="" /></a>
                            <div class="text text-2">
                              <h3>Big Sale<span>Body Parts</span></h3>
                                <p>15% Off</p>
                              <a href="#">Shop Now</a>
                             </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="banner-wrapper">
                            <a href="#"><img src="assets/assetsshadi/images/banner-image/17.jpg" alt="" /></a>
                            <div class="text text-2">
                              <h3>custom <span>Wheels</span></h3>
                                <p>20% Off</p>
                              <a href="#">Shop Now</a>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>